*{
    margin: 0;
    padding: 0;
    
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
   
    text-align: center;
  

}
html, body{
    width: 100%;
    height: 100%;   
}
.main{
    width: 100%;
    height: 100vh;
   margin-top: 140px;
   margin-left: 35%;
  

}
.box{
    width: 550px;
    height: 200px;
      background-color: rgb(186, 186, 202);
      padding: 30px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:15px;
       background: linear-gradient(135deg,  #00feba, #5b548a);
}

h2{
   font-size: 17px;
}
input{
    padding: 12px 90px;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    text-transform: uppercase;

    
}
button{
    
    padding: 12px 39px;
     background: linear-gradient(135deg,  #00feba, #5b548a);;
    border: 0;
    color: white;
    font-size: 20px;
    
    
} 